[Unit]
Description=IPTV support for the UniFi Dream Machine
After=network.target
Conflicts=igmpproxy.service

[Service]
Type=simple
EnvironmentFile=/etc/udm-iptv.conf
ExecStart=/usr/lib/udm-iptv/udm-iptvd start
ExecStop=/usr/lib/udm-iptv/udm-iptvd stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
